
.main{

    justify-content: space-between;
    text-align: center;
}

.option{
    border: 0 solid #e2e8f0;

}

.footer{
    text-align: center;
}
.inline{
    display: flex;
}

.bottom-lang{
    margin: 0;

}
